In [1]:
#pip install sqlite-fts4
#pip install import-ipynb

In [2]:
from ipynb.fs.full.Functions_sec import *
import import_ipynb
import fuzzymatcher as fm 
import pandas as pd
import os
pd.set_option('display.max_rows', 1200)

In [3]:
directory = os.getcwd()
path = directory + '/Data/'

# Reading files

In [4]:
Holdings=pd.read_csv(path + 'Holdings.csv')
Matched=pd.read_csv(path + 'Matched_v4.csv', sep=';')
Filings=pd.read_csv(path + 'Filings_df.csv')

# Nodes and Relationships Extraction

In [5]:
Nodes=Nodes_(Holdings,Filings)
duplicates_company_name=Nodes[1]
Nodes=Nodes[0]

In [6]:
Relationships=Relationships_(Holdings)

In [7]:
Relationships[(Relationships['value']==0)]

,cusip,cik_Filing,titleOfClass,putCall,CIK,investmentDiscretion,value,nameOfIssuer_unchanged
22,00214Q104,1074272,INNOVATION ETF,NaN,1697748,DFND,0,ARK Investment Management LLC
244,01609W102,1055964,SPONSORED ADS,NaN,1577552,SOLE,0,ALIBABA GROUP HLDG LTD
611,01609W102,1569765,SPONSORED ADS,NaN,1577552,SOLE,0,ALIBABA GROUP HLDG LTD
748,01609W102,1649647,SPONSORED ADS,Call,1577552,SOLE,0,ALIBABA GROUP HLDG LTD
1010,01609W102,1802473,SPONSORED ADS,NaN,1577552,SOLE,0,ALIBABA GROUP HLDG LTD
...,...,...,...,...,...,...,...,...
1817755,M8737E108,312069,COM,NaN,906338,SOLE,0,TARO PHARMACEUTICAL D
1817819,N71542109,312069,COM,NaN,161294,SOLE,0,PROQR RAPEUTICS NV
1817826,N96ESC012,919192,COM,NaN,1137861,SOLE,0,WRIGHT MEDICAL GROUP INC
1817832,Q6519V120,1742998,COM,NaN,1707919,SOLE,0,CENNTRO ELECTRIC GRP
1817901,Y8564M955,1488542,PUT,Put,1308106,SOLE,0,TEEKAY LNG PARTNERS

In [8]:
Relationships=Relationships[~(Relationships['value']==0)]

In [9]:
Relationships=Relationships.groupby(by=['cik_Filing','CIK','titleOfClass','putCall','investmentDiscretion'],dropna=False).sum()
Relationships=Relationships.reset_index()

In [10]:
Relationships.to_csv(path + 'Relationships.csv', index=None)
Nodes.to_csv( path + "Nodes.csv" ,index=None)

## Validation of nodes

In [11]:
Relationships[~Relationships["cik_Filing"].isin (Nodes["cik"])]["cik_Filing"].unique()

array([], dtype=object)

In [12]:
Relationships[~Relationships["CIK"].isin (Nodes["cik"])]["CIK"].unique()

array([], dtype=object)

In [13]:
len(Relationships[~Relationships["CIK"].isin (Nodes["cik"])]["CIK"].unique())
# add these 3 

len(Relationships[~Relationships["cik_Filing"].isin (Nodes["cik"])]["cik_Filing"].unique())
# add these 6

0

## Notional value of derivative options

In [14]:
#different relationships for call and put, means different labels
Relationships_options=Relationships[~Relationships["putCall"].isna()]
#concat and then unique
a=pd.DataFrame(Relationships_options["CIK"].unique())
b=pd.DataFrame(Relationships_options["cik_Filing"].unique())
h=pd.concat((a,b),axis=0)
h.columns=["cik"]

In [15]:
h=pd.DataFrame(h["cik"].unique())
h.columns=["cik"]

In [16]:
Nodes_options=pd.merge(h,Nodes, how="left")

In [17]:
Relationships_options.to_csv(path + 'Relationships_options.csv')
Nodes_options.to_csv(path + 'Nodes_options.csv')

## Without derivative options

In [18]:
Relationships_wo_options=Relationships[Relationships["putCall"].isna()]
#concat and then unique
a=pd.DataFrame(Relationships_wo_options["CIK"].unique())
b=pd.DataFrame(Relationships_wo_options["cik_Filing"].unique())
h=pd.concat((a,b),axis=0)
h.columns=["cik"]

In [19]:
h=pd.DataFrame(h["cik"].unique())
h.columns=["cik"]

In [20]:
Nodes_wo_options=pd.merge(h,Nodes, how="left")

In [21]:
Relationships_wo_options.to_csv(path + 'Relationships_wo_options.csv')
Nodes_wo_options.to_csv( path +'Nodes_wo_options.csv')

## Relationships with self loops

In [22]:
len(Relationships[(Relationships["cik_Filing"])==(Relationships["CIK"])]) #check if self loops are between banks only

89

In [28]:
Self_loops=Relationships[(Relationships["cik_Filing"])==(Relationships["CIK"])]
self_loops_=pd.merge(Self_loops, Nodes, left_on="CIK", right_on="cik")

In [33]:
self_loops_

,cik_Filing,CIK,titleOfClass,putCall,investmentDiscretion,value,companyName,cik
0,1000275,1000275,COM,Call,DFND,2123000,ROYAL BK OF CANADA,1000275
1,1000275,1000275,COM,Put,SOLE,23882000,ROYAL BK OF CANADA,1000275
2,1000275,1000275,COM,NaN,DFND,8054463000,ROYAL BK OF CANADA,1000275
3,1000275,1000275,COM,NaN,OTR,185000,ROYAL BK OF CANADA,1000275
4,1000275,1000275,COM,NaN,SOLE,89000,ROYAL BK OF CANADA,1000275
5,1001085,1001085,COMMON STOCK,NaN,DFND,28000,BROOKFIELD ASSET MANAGEMENT IN,1001085
6,1001085,1001085,COMMON STOCK,NaN,SOLE,7869681000,BROOKFIELD ASSET MANAGEMENT IN,1001085
7,1005817,1005817,EQUITIES/EXCHANGE TRADED FUNDS,NaN,DFND,220000,TOMPKINS FINANCIAL CORP,1005817
8,1005817,1005817,EQUITIES/EXCHANGE TRADED FUNDS,NaN,SOLE,20548000,TOMPKINS FINANCIAL CORP,1005817
9,1013272,1013272,Common Stock,NaN,DFND,4861000,NORWOOD FINANCIAL CORP,1013272
10,1013272,1013272,Common Stock,NaN,SOLE,5285000,NORWOOD FINANCIAL CORP,1013272
11,102212,102212,COM,NaN,OTR,716000,UNIVEST FINANCIAL CORP,102212
12,102212,102212,COM,NaN,SOLE,15506000,UNIVEST FINANCIAL CORP,102212
13,1025835,1025835,COM,NaN,DFND,14631000,ENTERPRISE FINANCIAL SERVICES CORP,1025835
14,1025835,1025835,COM,NaN,OTR,24000,ENTERPRISE FINANCIAL SERVICES CORP,1025835
15,105598,105598,COM,NaN,OTR,2508000,AMERITAS INVESTMENT PARTNERS IN,105598
16,105598,105598,COM,NaN,SOLE,3936000,AMERITAS INVESTMENT PARTNERS IN,105598
17,1056288,1056288,CL B,NaN,DFND,687000,FEDERATED HERMES IN,1056288
18,1074902,1074902,Common Stock,NaN,OTR,5387000,LCNB CORP,1074902
19,1074902,1074902,Common Stock,NaN,SOLE,4792000,LCNB CORP,1074902
20,1126328,1126328,COM,NaN,DFND,20475000,PRINIPAL FINANCIAL GRP IN,1126328
21,1132597,1132597,SPON ADR REP PFD,NaN,DFND,77200000,ITAU UNIBANCO HLDG SA,1132597
22,117485,117485,COMMON STOCK,NaN,SOLE,79032000,NICOLET BKSHARES IN,117485
23,1265131,1265131,COM,NaN,DFND,920000,HILLTOP HLDG IN,1265131
24,1274173,1274173,ORD SHS,NaN,DFND,1280000,JANUS HENDERSON GRP PLC,1274173
25,1281761,1281761,COM,NaN,DFND,16249000,REGIONS FINANCIAL CORP_1281761,1281761
26,1281761,1281761,COM,NaN,SOLE,44796000,REGIONS FINANCIAL CORP_1281761,1281761
27,1299939,1299939,COM,NaN,OTR,7077000,CADENCE BK,1299939
28,1299939,1299939,COM,NaN,SOLE,11387000,CADENCE BK,1299939
29,1333986,1333986,COM,NaN,DFND,335000,EQUITABLE HLDG IN,1333986
30,1364742,1364742,COM,NaN,SOLE,9284770000,BLACKROCK IN,1364742
31,1390777,1390777,COM,NaN,DFND,290555000,BK OF NEW YORK MELLON CORP,1390777
32,1390777,1390777,COM,NaN,OTR,8614000,BK OF NEW YORK MELLON CORP,1390777
33,1397424,1397424,WBI BBR QTY 3000,NaN,SOLE,25265000,WBI INVESTMENTS IN,1397424
34,1397424,1397424,WBI BBR VAL 3000,NaN,SOLE,27477000,WBI INVESTMENTS IN,1397424
35,1397424,1397424,WBI BBR YLD 3000,NaN,SOLE,24571000,WBI INVESTMENTS IN,1397424
36,1397424,1397424,WBI BULBEAR TR,NaN,SOLE,15349000,WBI INVESTMENTS IN,1397424
37,1397424,1397424,WBI PWR FCTR ETF,NaN,SOLE,32156000,WBI INVESTMENTS IN,1397424
38,151292,151292,COM NEW,NaN,SOLE,3541000,SPROTT IN,151292
39,161052,161052,SHS,Call,DFND,149770000,UBS GRP AG,161052
40,161052,161052,SHS,Put,DFND,30604000,UBS GRP AG,161052
41,161052,161052,SHS,NaN,DFND,2750962000,UBS GRP AG,161052
42,1666736,1666736,GERBER KAWASAKI,NaN,SOLE,1126000,GERBER KAWASAKI WEALTH & INVESTMENT MANAGEMENT,1666736
43,1697748,1697748,ETP,NaN,SOLE,3270000,ARK INVESTMENT MANAGEMENT LLC,1697748
44,19617,19617,COMMON,NaN,DFND,401084000,JPMORGAN CHASE & CO,19617
45,19617,19617,COMMON,NaN,OTR,23379000,JPMORGAN CHASE & CO,19617
46,19617,19617,FUND,NaN,DFND,24005000,JPMORGAN CHASE & CO,19617
47,312069,312069,ADR,NaN,DFND,38000,BARCLAYS PLC,312069
48,35527,35527,COM,NaN,DFND,62884000,FIFTH THIRD BANCORP,35527
49,357301,357301,COMMON STOCK,NaN,OTR,46000,TRCO BK CORP N Y,357301
50,357301,357301,COMMON STOCK,NaN,SOLE,3748000,TRCO BK CORP N Y,357301
51,3627,3627,COM,NaN,DFND,154107000,M&T BK CORP,3627
52,38777,38777,COM,NaN,DFND,27952000,FRANKLIN RESOURCES IN,38777
53,39263,39263,DOMESTIC COMMON STOCK,NaN,DFND,30562000,CULLENFROST BKERS IN,39263
54,5272,5272,COM,NaN,SOLE,13440000,AMERICAN INTERNATIONAL GRP IN,5272
55,59558,59558,COM,NaN,SOLE,1040000,LINOLN NATIONAL CORP,59558
56,712534,712534,COMMON STOCK,NaN,DFND,178000,FIRST MERCHANTS CORP,712534
57,712534,712534,COMMON STOCK,NaN,SOLE,2386000,FIRST MERCHANTS CORP,712534
58,712537,712537,COM,NaN,DFND,12058000,FIRST MONWEALTH FINANCIAL CORP PA,712537
59,712537,712537,COM,NaN,OTR,189000,FIRST MONWEALTH FINANCIAL CORP PA,712537
60,714395,714395,COM,NaN,SOLE,7252000,GERMAN AMERICAN BANCORP IN,714395
61,717538,717538,COMMON STOCK,NaN,DFND,50958000,ARROW FINANCIAL CORP,717538
62,717538,717538,COMMON STOCK,NaN,OTR,743000,ARROW FINANCIAL CORP,717538
63,717538,717538,COMMON STOCK,NaN,SOLE,746000,ARROW FINANCIAL CORP,717538
64,720672,720672,COM,NaN,DFND,162388000,STIFEL FINANCIAL CORP,720672
65,73124,73124,COM,NaN,DFND,284966000,NORTHERN TR CORP,73124
66,73124,73124,COM,NaN,OTR,486967000,NORTHERN TR CORP,73124
67,750577,750577,COM,NaN,OTR,460000,HANCOCK WHITNEY CORP,750577
68,750577,750577,COM,NaN,SOLE,44468000,HANCOCK WHITNEY CORP,750577
69,764038,764038,Common Stock,NaN,DFND,5089000,SOUTHSTATE CORP,764038
70,7789,7789,COM,NaN,DFND,59952000,ASSOCIATED BANC-CORP,7789
71,804328,804328,COM,NaN,SOLE,78517000,QUALM INDE,804328
72,810958,810958,COM,NaN,DFND,7166000,CITIZENS & NORTHERN CORP,810958
73,820027,820027,COM,NaN,DFND,8745000,AMERIPRISE FINANCIAL IN,820027
74,824468,824468,ETN LKD 34,NaN,DFND,14356000,CREDIT SUISSE AG,824468
75,824468,824468,X LINK GOLD SHS,NaN,DFND,1727000,CREDIT SUISSE AG,824468
76,824468,824468,X LINK SILVER,NaN,DFND,829000,CREDIT SUISSE AG,824468
77,824468,824468,XLINK CRD ETN37,NaN,DFND,724000,CREDIT SUISSE AG,824468
78,831001,831001,COM NEW,NaN,DFND,89133000,CITIGRP IN,831001
79,883948,883948,COM,NaN,OTR,1238000,ATLANTIC UNION BKSHARES CORP,883948
80,883948,883948,COM,NaN,SOLE,10501000,ATLANTIC UNION BKSHARES CORP,883948
81,886982,886982,CMN,NaN,DFND,397000,GOLDMAN SACHS GRP IN,886982
82,891478,891478,ADR,NaN,SOLE,297000,BANCO SANTANDER SA,891478
83,891478,891478,ADS REP 1 UNIT,NaN,DFND,2793572000,BANCO SANTANDER SA,891478
84,895421,895421,COM NEW,NaN,DFND,12441000,MORGAN STANLEY,895421
85,9015,9015,SH BEN INT,NaN,SOLE,1275000,BARINGS LLC,9015
86,947263,947263,COM,NaN,DFND,377650000,TORONTO DOMINION BK,947263
87,947263,947263,COM,NaN,SOLE,112655000,TORONTO DOMINION BK,947263
88,9631,9631,COM,NaN,DFND,4987000,BK OF NOVA SCOTIA,9631

In [ ]:
Filings[Filings['cik']==804328]

In [ ]:
Holdings[Holdings['cik_Filing']==804328]